[submodule "libpairinteraction/wignerSymbols"]
	path = libs/wignerSymbols
	url = git://github.com/valandil/wignerSymbols.git
[submodule "gui/pyqtgraph"]
	path = pairinteraction_gui/pyqtgraph
	url = git://github.com/pyqtgraph/pyqtgraph
[submodule "libpairinteraction/eigen"]
	path = libs/eigen
	url = git://github.com/eigenteam/eigen-git-mirror.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = git://github.com/fmtlib/fmt
