[submodule "libs/wignerSymbols"]
	path = libs/wignerSymbols
	url = git://github.com/valandil/wignerSymbols.git
[submodule "pairinteraction_gui/pyqtgraph"]
	path = pairinteraction_gui/pyqtgraph
	url = git://github.com/pyqtgraph/pyqtgraph
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = git://github.com/fmtlib/fmt
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = git://github.com/catchorg/Catch2
[submodule "libs/cereal"]
	path = libs/cereal
	url = git://github.com/USCiLab/cereal
